<mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-card class="center">
        <mat-list-item class="margin-list" *ngFor="let folder of folders">
            <mat-icon mat-list-icon> folder </mat-icon>
            <h4 mat-line>{{ folder.name }}</h4>
            <p mat-line> {{ folder.updated | date }} </p>
            <button routerLink="/vaults/:id" mat-raised-button color="primary"> Detail </button>
            <button mat-raised-button color="warn"> Delete </button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-card>
    <mat-divider></mat-divider>
    <h3 mat-subheader> Notes </h3>
    <mat-card class="center">
        <mat-list-item class="margin-list" *ngFor="let note of notes">
            <mat-icon mat-list-icon> note </mat-icon>
            <h4 mat-line>{{ note.name }}</h4>
            <p mat-line> {{ note.updated | date }} </p>
            <button routerLink="/vaults/:id" mat-raised-button color="primary"> Detail </button>
            <button mat-raised-button color="warn"> Delete </button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-card>
</mat-list>