.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.center {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}

.margin-list {
    margin-top: 10px;
}