.container-div {}

.container-div > * {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}

.component-title {
  display: flex;
  margin: 2em;
  color: #444;
  font-size: calc(1em + 2.5vh);
  justify-content: center;
}

.providers-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .provider-container {
    display: flex;
    width: 15%;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 4px;
    flex-direction: column;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .provider-container:hover {
    transition: all 0.7s;
    background-color: lightgrey;
  }
}
