<div class="component-title">
  {{$componentTitle}}
</div>

<mat-card class="center">

  <div class="providers-container">
    <ng-container *ngFor="let provider of $providers">

      <div class="provider-container">

        <img [src]="provider.icon" />

        <div class="provider-name"> {{provider.name}} </div>

      </div>

    </ng-container>
  </div>

</mat-card>
