<mat-toolbar color="primary"
             class="navbar-holder">

  <span routerLink="/"
        routerLinkActive="active"> Ukeep </span>

  <div class="routes-holder">
    <button routerLink="/vaults-list"
            routerLinkActive="active"
            mat-raised-button> Vaults </button>
    <button routerLink="/backups-list"
            routerLinkActive="active"
            mat-raised-button> Backups </button>
    <button routerLink="/settings"
            routerLinkActive="active"
            mat-raised-button
            color="accent"> Settings </button>
  </div>

</mat-toolbar>
